body{
	background-image: url("eh.jpeg");
	background-size: cover;
	font-size:14px;
	color: #000000;
	 

}
.headerbox{
	color: white;
	text-align: center;
	width: 300px;
	margin: auto;
}

.textbox{
	background-color: white;
	text-align: center;
	width: 600px;
	margin: auto;
	margin-top: 50px;
	padding: 50px;
}