<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Projekt: Webbhistoria</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <link rel="stylesheet" href="/style.css">

  </head>  
  <body>
        <ul class="nav_bar--horizontal">
                <li>
                  <a href="/index.html">Startsida</a>
                </li>
                <li>
                  <a href="/view/Historiska-Händelser.html">Historiska händelser</a>
                </li>
                <li>
                  <a href="/view/Utveckling.html">Utveckling av Hemsidor</a>
                </li>
                <li>
                  <a href="/view/Internets-Principer.html">Internets grundläggande principer</a>
                </li>
                <li>
                  <a href="/view/Webbpublicering.html">Webbpubliceringssystem</a>
                </li>
              </ul>



 <h1 class="headerbox"> Historiska Händelser </h1>
 
 <h2 class="textbox">1970</h2>

 <p class="textbox"> SVT:s program Lördags hänger med elever på en gymnasieskola som får testa dataterminaler.
  <br> <br>
  Man kan till exempel använda dem för att snabbt räkna ut saker som annars skulle ha tagit flera månader, visar det sig. Vad händer med en fisk i en älv om man häller ut smuts i vattnet? är uppgiften och datorn räknar ut svaret på några sekunder. ”Det är inte ett dugg svårare än att använda en skrivmaskin”, försäkrar berättaren i klippet.
  <br> <br>
  Därefter väntar studiebesök på banken, vid biljettkontoret och på en fabrik, där arbetet blivit effektiviserat. Och så beskrivs i detalj hur en datamaskin är uppbygd och hur den fungerar.
  <br> <br>
  ”Utvecklingen får dock inte rusa iväg hur som helst. Tänk om vi snart har en datamaskin i varje hem”, befarar skolungdomarna i klippets slutskede. ”Man känner sig inte säker på något vis.” 
  <br> <br>
  <iframe class="videohh" src="https://www.youtube.com/embed/aVAbkrwU7wQ" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</p>


 <h2 class="textbox">1980</h2>
 
 <p class="textbox"> Två minuter över två på eftermiddagen, den 7 april 1983, tar datateknikern Björn Eriksen emot det som anses vara det första mejlet över internet till Sverige.
  <br> 
  Det kommer från Amsterdam och Jim McKie på European Unix Network. Innehållet är kanske inte så spännande – det är bara ett besked om att det är ett testmejl – men det är ändå ett historiskt ögonblick. Trettio år senare har nästan nittio procent av landets befolkning tillgång till internet och e-post.
  <br> <br>
  <img class="imagehh" src="/Björn.PNG" alt="" width="150"  >
  <br> <br>
  Hela mejlet:
  <br> <br>
  SWE_Mail
  Return-Path:<mcvax!jim>
  Date: Thu, 7 Apr 83 14:02:08 MET DST
  From: mcvax!jim (Jim McKie)
  To: enea!ber
  Subject: Hello
  <br>
  You are now hooked to the mcvax. This is just a test. Reply, we will be calling you again soon!
  <br>
  Ignore any references to a machine called ”yoorp”, it is just a test. Mail should go to mcvax!….”.
  <br>
  Regards, Jim McKie. (mcvax!jim).
  <br> <br>
  Rent tekniskt har Björn tagit emot mejlet med en VAX 780 med operativsystemet BSD Unix, som är placerad hos programutvecklingsföretaget Enea Data AB i Täby. E-posten förmedlas med UUCP och X.25 (och inte via internetprotokollet TCP/IP, vilket gjort att vissa ifrågasätter om mejlet verkligen kan sägas vara det första via just ”internet”). E-post har vid tidpunkten även tidigare skickats från Sverige, via KOM-systemet 1982, men via brygga (och även då med X.25-tekniken).
  <br> <br>
  Björn Eriksen registrerade några år senare .se-domänen och sköter den fram till 1997. Han går bort 2005. Här kan du se en film där hans vänner och kollegor berättar om hans gärning:
   <br><br>
   <iframe class="videohh" src="https://www.youtube.com/embed/kAzdUVDYweY" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</p>

<h2 class="textbox">1990</h2>
<p class="textbox"><img src="/Mer Björn.PNG" alt="" class="imghh">
  Webbläsaren Mosaic släpps 1993 av amerikanska NCSA, och även om den inte är den allra allra första så är det den som kommer att göra www tillgängligt för gemene man. Den är också en av de första som kan visa bilder, vilket gör internet lite roligare att surfa på.
  
  Vid Linköpings Universitet finns en datorförening som heter Lysator, som går igång på nyheten och genast tar tillfället i akt att bygga sin egen server – den första i Sverige som registreras hos CERN, i februari 1993. Där lägger de förstås också en egen hemsida.
  <br> <br>
  lysator.liu.se är adressen då – och den finns fortfarande kvar! Där kan du hitta massvis med information om föreningens historia.
  
  Lysators servrar är för övrigt också hem till Projekt Runeberg, där du kan hitta klassisk nordisk litteratur digitaliserad och gratis.</p>
  <h2 class="textbox">2000</h2>
  <p class="textbox">Ett nytt millennium. Men ännu dröjer det något innan framtiden har nått in i svenskarnas hushåll.
    <br> <br>
    År 2000 har 60 procent av svenskarna tillgång till internet och endast varannan svensk har internet hemma. 45 procent av svenskarna använder regelbundet e-post för att kommunicera.
    <br> <br>
    Men utvecklingen går snabbt. Sverige är ett av de länder där internetpenetrationen har gått djupast i samhället, konstaterar World internet institute i rapporten Svenskarna och internet.
    <br> <br>
    Slutsatsen lyder: ”Generellt går utvecklingen i två riktningar; bredbandsnät har under de senaste åren snabbt byggts ut i landet och förväntas ge helt nya förutsättningar för boende, arbete och livet i alla dess aspekter. Samtidigt utvecklas mobil teknik som gör internet allt mer tillgängligt och distansöverbryggande. Kompletterande tekniker såsom WAP, Bluetooth, SMS och MMS gör att information i allt fler former kan presenteras var man än är.”
   <br> <br>
   Hela Rapporten:
   <a href="https://internetstiftelsen.se/kunskap/rapporter-och-guider/svenskarna-och-internet-2000/">Svenskarna och internet 2000</a>



  </p>

  <h2 class="textbox">2010</h2>
  <p class="textbox">
    85% av svenskarna över 16 år har tillgång till internet i hemmet. 97% av internetanvändarna har tillgång till bredband.
    <br> <br>
    Sverige intar förstaplatsen på tre globala IT-index, rankinglistor som försöker mäta olika länders beredskap och förutsättningar för att bli ett framgångsrikt informationsteknologiskt land.
    <br> <br>
    Hela Rapporten:
    <a href="http://www.internetstatistik.se/rapporter/svenskarna-och-internet-2010/">Svenskarna och internet 2010</a>
 
  </p>





  </body>
  <script src="js/script.js"></script>
</html>