<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Projekt: Webbhistoria</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <link rel="stylesheet" href="/style.css">

  </head>  
  <body>

    <ul class="nav_bar--horizontal">
        <li>
          <a href="/index.html">Startsida</a>
        </li>
        <li>
          <a href="/view/Historiska-Händelser.html">Historiska händelser</a>
        </li>
        <li>
          <a href="/view/Utveckling.html">Utveckling av Hemsidor</a>
        </li>
        <li>
          <a href="/view/Internets-Principer.html">Internets grundläggande principer</a>
        </li>
        <li>
          <a href="/view/Webbpublicering.html">Webbpubliceringssystem</a>
        </li>
      </ul>


       <h1 class="headerbox"> Youtube's Utveckling

       </h1> 

      <p class="textbox">  
            <img src="/Youtube1.PNG"class= "imghh" alt=""> 
              
            <br> <br>
            Man ser tydliga ändringar på Youtube. Innan det blev känt så var det bara en liten plattform där familjer för det mesta la upp videos för att dela med släkten. Katt-videos var självklart vanliga men det sägs att Youtube började som en dating hemsida men har sen dess utvecklats till en av de största plattformarna i världen där alla kan öägga upp och dela videos.
            <br> <br>
            Det har blivit lättare att hitta videos man letar efter och även lättare att hitta nya potentiella Youtubers man tycker om genom trending eller rekommendationer.
            <br> <br>
               
            <img src="/Youtube2.PNG"class= "imghh" alt="">
            
           
           </p>

           <h1 class="headerbox"> Reddit's Utveckling

           </h1>

      <p class="textbox">
        <img src="/Reddit1.PNG"class= "imghh" alt="">
           
        <br> <br>
        Reddit har blivit lättare att använda, man kan fortfarande se liknande format som förut, olika subreddits där man kan posta nästan vad man vill.  

       <br> <br>
        
       De har fortsatt med samma struktur fast gjort det lättare och mer user-vänligt, alltså lättare att använda ifall man inte är van med formatet.
         <br> <br>
        <img src="/reddit2.PNG"class= "imghh" alt="">

      </p>




  </body>
  <script src="js/script.js"></script>
</html>
