<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Projekt: Webbhistoria</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <link rel="stylesheet" href="/style.css">

  </head>  
  <body>

    <ul class="nav_bar--horizontal">
        <li>
          <a href="/index.html">Startsida</a>
        </li>
        <li>
          <a href="/view/Historiska-Händelser.html">Historiska händelser</a>
        </li>
        <li>
          <a href="/view/Utveckling.html">Utveckling av Hemsidor</a>
        </li>
        <li>
          <a href="/view/Internets-Principer.html">Internets grundläggande principer</a>
        </li>
        <li>
          <a href="/view/Webbpublicering.html">Webbpubliceringssystem</a>
        </li>
      </ul>

        <h2 class="text-title"> Apache Roller </h2>

      <p class="textbox"> 
          Apache Roller is a Java-based open-source "full-featured, Multi-blog, Multi-user, and group-blog server suitable for blog sites large and small".[3] Roller was originally written by Dave Johnson in 2002 for a magazine article on open source development tools,[4] but became popular at FreeRoller.net (now JRoller.com) and was later chosen to drive the employee blogs at Sun Microsystems, Inc. and IBM developerWorks blogs.[2]
             <br> <br>
          On April 23, 2007, Roller project graduated from incubator, so it became an official project of the Apache Software Foundation and it was released 3.1 version, first official release.[5] 
            <img src=""class= "imghh" alt="">

           </p>
                
           <h2 class="text-title"> Alfresco Software </h2>

            <p class="textbox"> 
                Alfresco is a collection of information management software products for Microsoft Windows and Unix-like operating systems developed by Alfresco Software Inc. using Java technology. Their primary software offering, branded as a Digital Business Platform[3] is proprietary & a commercially licensed open source platform, supports open standards, and provides enterprise scale.[citation needed]
                   <br> <br>
                Alfresco Software Inc. also provides open source Community Editions as free, LGPLv3[2] licensed open source software. These have some default restrictions in terms of scalability and availability, e.g. there is no built-in clustering support[4]. Quality assurance by Alfresco is limited and bug fixes are only issued for the current versions. There is a community support for the Community Edition including an independent association, the Order of the Bee.
              <br> <br> 
                Enterprise content management for documents, web, records, images, videos, rich media, and collaborative content development. In 2019 it implemented a programme to enable George Eliot Hospital NHS Trust to become paperless.
                    
                   </p>
            
  </body>
  <script src="js/script.js"></script>
</html>
